In [1]:
# Import dependencies
import pandas as pd
from pymongo import MongoClient
import json
import requests 
from pathlib import Path
from pprint import pprint

In [2]:
# Store filepath in a variable
CMPD_File = Path("Resources/CMPD_Homicide.csv")

In [3]:
# reads the csv file and converts into Dataframe
CMPD_File_df = pd.read_csv(CMPD_File, encoding="ISO-8859-1")

In [4]:
CMPD_File_df.head()

,ï»¿X,Y,OBJECTID,ID,CRIME_REPORT_ID,AGE,GENDER,RACE_ETHNICITY,CLEARANCE_STATUS,IPV,...,CMPD_PATROL_DIVISION,NPA,CLEARANCE_DATE,CIRCUMSTANCES,COUNCIL_DISTRICT,COMMISSION_DISTRICT,CORRIDOR,CALENDAR_YEAR,CALENDAR_MONTH,DATE_REPORTED
0,1.467489e+06,558470.000051,1,1,20240602-0304-02,18.0,Male,Hispanic,Open,NaN,...,North Tryon,371,NaN,Other/Unknown,4,3,NaN,2024,6,2024/06/02 00:00:00+00
1,1.472856e+06,560430.000068,2,2,20240602-0146-03,39.0,Male,Black,Open,NaN,...,North Tryon,103,NaN,Argument,4,3,NaN,2024,6,2024/06/02 00:00:00+00
2,1.434810e+06,510329.999874,3,3,20240527-2245-03,54.0,Male,Hispanic,Open,NaN,...,Steele Creek,79,NaN,Other/Unknown,3,2,NaN,2024,5,2024/05/27 00:00:00+00
3,1.477230e+06,531732.000049,4,4,20240526-0503-02,23.0,Male,Hispanic,Cleared by Arrest by Another Agency,NaN,...,Independence,135,2024/06/03 00:00:00+00,Argument,5,4,NaN,2024,5,2024/05/26 00:00:00+00
4,1.474967e+06,558192.999948,5,5,20240522-1643-01,14.0,Male,Black,Cleared by Arrest,NaN,...,North Tryon,234,2024/05/23 00:00:00+00,Argument,4,3,NaN,2024,5,2024/05/22 00:00:00+00

In [5]:
# names of all columns
for col in CMPD_File_df:
    print(col)

ï»¿X
Y
OBJECTID
ID
CRIME_REPORT_ID
AGE
GENDER
RACE_ETHNICITY
CLEARANCE_STATUS
IPV
WEAPON
LOCATION
X_COORD_PUBLIC
Y_COORD_PUBLIC
LATITUDE_PUBLIC
LONGITUDE_PUBLIC
CMPD_PATROL_DIVISION
NPA
CLEARANCE_DATE
CIRCUMSTANCES
COUNCIL_DISTRICT
COMMISSION_DISTRICT
CORRIDOR
CALENDAR_YEAR
CALENDAR_MONTH
DATE_REPORTED

In [6]:
# deleting all unwanted columns
CMPD_File_df = CMPD_File_df[["CRIME_REPORT_ID", 
                            "AGE", 
                            "GENDER",
                            "RACE_ETHNICITY",
                            "CLEARANCE_STATUS",
                            "WEAPON", "LOCATION",
                            "CMPD_PATROL_DIVISION",
                            "CIRCUMSTANCES",
                            "CALENDAR_YEAR",
                            "CALENDAR_MONTH"]]
CMPD_File_df.head()

,CRIME_REPORT_ID,AGE,GENDER,RACE_ETHNICITY,CLEARANCE_STATUS,WEAPON,LOCATION,CMPD_PATROL_DIVISION,CIRCUMSTANCES,CALENDAR_YEAR,CALENDAR_MONTH
0,20240602-0304-02,18.0,Male,Hispanic,Open,Handgun,1000 ECHO GLEN RD,North Tryon,Other/Unknown,2024,6
1,20240602-0146-03,39.0,Male,Black,Open,Firearm,100 TOM HUNTER RD,North Tryon,Argument,2024,6
2,20240527-2245-03,54.0,Male,Hispanic,Open,Firearm,100 KINGSFORD DR,Steele Creek,Other/Unknown,2024,5
3,20240526-0503-02,23.0,Male,Hispanic,Cleared by Arrest by Another Agency,Handgun,6100 WINGED ELM CT,Independence,Argument,2024,5
4,20240522-1643-01,14.0,Male,Black,Cleared by Arrest,Handgun,200 ANN ELIZABETH DR,North Tryon,Argument,2024,5

In [7]:
# essentially combines calendar_year and month to get new column Date 
CMPD_File_df['DATE'] = CMPD_File_df['CALENDAR_MONTH'].astype(str) +"-" + CMPD_File_df['CALENDAR_YEAR'].astype(str)
CMPD_File_df.head()

,CRIME_REPORT_ID,AGE,GENDER,RACE_ETHNICITY,CLEARANCE_STATUS,WEAPON,LOCATION,CMPD_PATROL_DIVISION,CIRCUMSTANCES,CALENDAR_YEAR,CALENDAR_MONTH,DATE
0,20240602-0304-02,18.0,Male,Hispanic,Open,Handgun,1000 ECHO GLEN RD,North Tryon,Other/Unknown,2024,6,6-2024
1,20240602-0146-03,39.0,Male,Black,Open,Firearm,100 TOM HUNTER RD,North Tryon,Argument,2024,6,6-2024
2,20240527-2245-03,54.0,Male,Hispanic,Open,Firearm,100 KINGSFORD DR,Steele Creek,Other/Unknown,2024,5,5-2024
3,20240526-0503-02,23.0,Male,Hispanic,Cleared by Arrest by Another Agency,Handgun,6100 WINGED ELM CT,Independence,Argument,2024,5,5-2024
4,20240522-1643-01,14.0,Male,Black,Cleared by Arrest,Handgun,200 ANN ELIZABETH DR,North Tryon,Argument,2024,5,5-2024

In [8]:
# removes year and month
CMPD_File_df = CMPD_File_df[["CRIME_REPORT_ID", 
                            "AGE", 
                            "GENDER",
                            "RACE_ETHNICITY",
                            "CLEARANCE_STATUS",
                            "WEAPON", "LOCATION",
                            "CMPD_PATROL_DIVISION",
                            "CIRCUMSTANCES",
                            "DATE"]]
CMPD_File_df.head()

,CRIME_REPORT_ID,AGE,GENDER,RACE_ETHNICITY,CLEARANCE_STATUS,WEAPON,LOCATION,CMPD_PATROL_DIVISION,CIRCUMSTANCES,DATE
0,20240602-0304-02,18.0,Male,Hispanic,Open,Handgun,1000 ECHO GLEN RD,North Tryon,Other/Unknown,6-2024
1,20240602-0146-03,39.0,Male,Black,Open,Firearm,100 TOM HUNTER RD,North Tryon,Argument,6-2024
2,20240527-2245-03,54.0,Male,Hispanic,Open,Firearm,100 KINGSFORD DR,Steele Creek,Other/Unknown,5-2024
3,20240526-0503-02,23.0,Male,Hispanic,Cleared by Arrest by Another Agency,Handgun,6100 WINGED ELM CT,Independence,Argument,5-2024
4,20240522-1643-01,14.0,Male,Black,Cleared by Arrest,Handgun,200 ANN ELIZABETH DR,North Tryon,Argument,5-2024